@{
    ViewBag.Title = "Restricted Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Restricted Page</h2>

<p>This is a restricted page. Only authenticated users can access this page.</p>

<p>Test</p>
